<p style="color: red; font-weight: bold;">This is a dummy error</p>

<form>
    <input type="number" name="number1" id="number1" value="5">
    <input type="number" name="number2" id="number2" value="10">
    <select name="operator">
        <option value="+" selected>+</option>
        <option value="-">-</option>
        <option valeu="*">*</option>
        <option>/</option>
    </select>
    <button type="submit">Calculate</button>
</form>

<h1>Het resultaat is 15</h1>