<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toets</title>
</head>
<body>
    <header>
        <h1>Welkom op de toets</h1>
    </header>
    <main>
        <ul>
            <li><a href="/calc">calc</a></li>
            <li><a href="/numbers">numbers</a></li>
            <li><a href="/vehicles">vehicles</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2021</p>
    </footer>
</body>
</html>