<b>De som is: 95</b>
<b>Het gemiddelde is 9.5</b>
<ul>
    <li style="color: red">2</li>
    <li style="color: red">4</li>
    <li style="color: red">6</li>
    <li style="color: red">8</li>
    <li>10</li>
    <li>12</li>
    <li>14</li>
</ul>