<article>
    <h2>AeroWing 500</h2>
    <p>drone</p>
    <img src="https://github.com/smaesAP/mock-api/blob/main/assets/vehicles/drone-3.jpeg?raw=true" alt="AeroWing 500">
    <p>De AeroWing 500 is een geavanceerde drone met zonne-energie en obstakelvermijding. Verken de lucht en leg prachtige beelden vast met deze krachtige drone.</p>
</article>