<h2>Auto's</h2>

<form action="/vehicles" method="GET">
  <input type="search" name="q" value=""/>
  <select name="direction">
    <option selected>asc</option>
    <option>desc</option>
  </select>
  <button type="submit">GO</button>
</form>

<ul>
  <li><a href="/vehicles/AeroWing 500">AeroWing 500 (drone)</a></li>
  <li><a href="/vehicles/Air Majesty">Air Majesty (zeppelin)</a></li>
  <li><a href="/vehicles/BMXExtreme">BMXExtreme (bike)</a></li>
  <li><a href="/vehicles/CargoHawk">CargoHawk (drone)</a></li>
  <li><a href="/vehicles/CityCruiser">CityCruiser (bike)</a></li>
</ul>